// Add Option Error
.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

// Add option Form
.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    // allow the input to grow with the width of the container
    flex-grow: 1;
    background: $dark-blue;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    border: none;
    color: $off-white;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

// set up different view for mobile device. for any view less than 45 width will display up above properties
@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin-right: 0 $s-size 0 0;
    }
}